<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="navbar">
      <a href="/" class="logo">
        <img
          src="/img/newslogo.png"
          width="30px"
          height="30px"
          style="margin-top: 5px;"
        />
      </a>
      <a
        id="favorite"
        href="/favorites"
        onmouseover="changeImg(this)"
        onmouseout="defaultImg(this)"
        ><img
          src="/img/star.png"
          width="22px"
          height="22px"
          style="margin-top: 5px;"
      /></a>
      <a href="/" class="">NEWS</a>
      <a href="/about">ABOUT</a>
      <div>
        <a href="/gb/index.html">GB</a>
        <a href="/fr/index.html">FR</a>
        <a href="/tr/index.html">TR</a>
        <a href="/about" style="padding: 0 10px;">
          <img
            src="/img/world-white.png"
            width="17px"
            height="17px"
            style="padding: 0; margin: 0; margin-top: 5px;"
          />
        </a>
      </div>
    </header>
    <div class="bg-yellow"></div>
    <div class="social">
      <a
        title="twitter"
        href="https://twitter.com/ErenHncr"
        style="align-self: end;"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a
        title="github"
        href="https://github.com/erenhncr"
        style="align-self: start;"
      >
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="content">
      {{ content | safe }}
    </div>
    <script src="/js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/47483f01ff.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
