:root {
  --yellow: #FFD200;
  --black: #171717;
  --white: #FFFFFF;
  --orange: #FF4F28;
  --cardbg:#F5F5F5;
}

html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-weight: 900;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--yellow);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  padding-top: 50px;
  padding-right: 50px;
}
header a {
  font-size: 2.3rem;
  font-weight: 100;
  margin-right: 13px;
  color: var(--black);
  margin-right: 40px;
}
header a:hover {
  color: var(--orange);
  transition: 0.2s;
  border-bottom: 3px solid var(--orange);
}

header div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

header div a {
  color: var(--white);
  background-color: var(--black);
  width: max-content;
  padding: 2px 10px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100;
  margin-right: 10px;
}

.container {
  margin: 0 auto;
}

.container h1 {
  font-size: 6rem;
  color: #FF2E00;
  text-shadow: 4px 6px 1px rgba(0, 0, 0, 0.25);
  margin: 0 auto;

  margin-left: 40px;
}

.news {
  padding: 0 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  margin-top: 80px;
}

.newsImg{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;

}

.news img {
  display: grid;
  align-self: center;
  justify-self: center;
  height: 1.9rem;
  width: 1.9rem;
}
.news li {
  list-style: none;
  font-size: 0.8rem;
  padding: 5px 15px;
  /* height: auto; */
  display: grid;
  grid-template-rows: 1fr 150px 40px;
  gap: 5px;
}

.news li:nth-child(even) {
  background-color: var(--cardbg);
  color: black;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 8px 0px;  
}
.news li:nth-child(even) a {
  color: black;

}
.news li:nth-child(odd) {
  background-color: var(--black);
  color: white;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 8px 0px;
}
.news li:nth-child(odd) a{
  color: white;
}


.hidden {
  display: none;
}

.bg-yellow {
  background-color: var(--yellow);
  height: 500px;
  z-index: -1;
  position: relative;
}
.content {
  z-index: 1;
  position: relative;
  margin-top: -375px;
}

.bottom {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  justify-items: start;
  gap: 5px;
  padding: 5px;
}
.bottom span {
  word-break: break-all;
  width: fit-content;
}

h2 {
  margin-bottom: 0;
}

.favorite {
  padding: 0;
  margin-right: 15px;
  font-size: 1.5rem;
}

.favorite:hover {
  transition: 0.2s;
  border-bottom: 3px solid var(--orange);
  margin-top: 3px;
}

.country {
  background-color: var(--black);
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
}


.active {
  color: var(--orange);
  border-bottom: 3px solid var(--orange);
}