---
title: About
layout: base.njk
---

<div class="container">
    <h1>about</h1>
    <p style="display: grid; padding: 0 50px;">It was made for you using HTML, CSS and Javascript. 
    And served as a JAMStack site.</p>
</div>
<div class="countries">
  {% for item in news %}
    <a class="country" href="/{{ item.country }}">{{ item.country }}</a>
  {% endfor %}
</div>

<script>
window.addEventListener('DOMContentLoaded', (event) => {
  document.querySelector('.navbar').children[2].className = 'active';
});
</script>

