---
title: Favorites
layout: base.njk
---

<div class="container">
    <h1>Favorites</h1>
    <p>It was made for you using HTML, CSS and Javascript. 
    And served as a JAMStack site.</p>
</div>

<script src="/js/vibe.js"></script>

