---
title: Favorites
layout: base.njk
---

<div class="container">
  <h1>favorites</h1>
  <ul class="news"></ul>
</div>

<script src="/js/favorites.js"></script>
<script>
window.addEventListener('DOMContentLoaded', (event) => {
  event.preventDefault();
  document.querySelector('.navbar').children[0].className = 'active';
  document.querySelector('.navbar').children[0].children[0].src = '/img/orangestar.png';
});
</script>