---
title: Localized Content
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{ news.country }}/index.html
---

<div class="container">
    <h1>news</h1>
    <div id="weather" class="hidden">
      <h2>Weather near you</h2>
      <p class="city"></p>
      <p class="temp"></p>
      <p class="main"></p>
      <p class="main"></p>
    </div>

    <ul class="news">
    {% for article in news.articles %}
      <li>
        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
        <img src="/img/star" width="100%" height="100px" style="background-size: cover;">
        <span><img src="/img/star.png" width="25px" height="25px"></span>
        <span>{{ article.source.name }}</span>
      </li>
    {% endfor %}
    </ul>
     
</div>

<script src="/js/vibe.js"></script>
<script src="/js/weather.js"></script>
