---
title: News
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{ news.country }}/index.html
---

<div class="container">
  <h1>news</h1>
  {#
  <div id="weather" class="hidden">
    <h2>Weather near you</h2>
    <p class="city"></p>
    <p class="temp"></p>
    <p class="main"></p>
    <p class="main"></p>
  </div>
  #}

  <ul class="news">
    {% for article in news.articles %}
    <li
      class="{{ article.title }} {{ article.source.name }} {{ article.url }} {{
        article.urlToImage
      }}"
    >
      <h2>
        <a href="{{ article.url }}">{{ article.title }}</a>
      </h2>
      <img class="newsImg" src="{{ article.urlToImage }}" />
      <div class="bottom">
        <span
          class="addFav"
          onclick="clickFavImg(this)"
          onmouseover="onFavImg(this)"
          onmouseout="outFavImg(this)"
        >
          <img
            src="/img/start.png"
            style="width: 23px !important; height: 23px !important;"
          />
        </span>
        <span>{{ article.source.name }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<script src="/js/weather.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    document.querySelector('.navbar').children[1].className = 'active';
  });
</script>
